.mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;

    height: 3rem;
    width: 3rem;
    max-width: 50rem;
    background-color: #4ad6bd;
    border-radius: 16rem;

    transition: width 500ms ease-out;
}

.mobile-menu.active {
    width: 95vw;
    max-width: 50rem;
}

.mobile-menu .menu-button img {
    width:2rem;
    height:2rem;

    cursor: pointer;

    flex-basis: 25%;
    padding: 1rem 0;

    user-select: none;
}

.mobile-menu .menu-button {
    display: flex;
    position: relative;
}

.mobile-menu .menu-button.main img {
    transform: scale(1.5);
    transition: transform 500ms ease-out;
}

.mobile-menu .menu-button.main.active img {
    transform: scale(1.5) rotate(540deg);
}

.mobile-menu .menu-button.not-main img {
    pointer-events: none;
    transform: scale(0);

    transition: transform 200ms ease-out;
}

.mobile-menu .menu-button.not-main.active img {
    transition-delay: 200ms;
    pointer-events: auto;
    transform: scale(1) rotate(1080deg);
}

.mobile-menu .circle {
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 6px;
    height: 6px;

    border-radius: 50rem;

    transition: background-color 250ms;
}

.mobile-menu .menu-button.active .circle.selected {
    background-color: #26abff;
}